{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
  <div class="card shadow">
    <div class="card-header bg-primary text-white text-center">
      <h3 class="mb-0"><i class="fa-solid fa-key"></i> Cambiar contraseña</h3>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Cambiar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}